* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

:focus {
 /* TODO */
}

body {
  background-color: orange;
  color: black;
  
}

input {
  flex: 1;
  height: 50px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size:18px;
  color: black;
}

.search-container {
 width: 600px;
 background: #fff;
 margin: 200px auto 0;
 border-radius: 5px;
}
.search-container input,
.search-container .suggestions {
  /* TODO */
}
.search-container input {
 /* TODO */
}
.search-container .suggestions {
   /* TODO probably to make sure the  */
}

ul {

  /* TODO */
}
ul.has-suggestions {
  border-top: 1px solid #999;
  padding: 15px 10px;  
  
  /* TODO this is the class that will be active if there are lis */
}
ul li {
  list-style: none;
  border-radius: 3px;
  padding: 15px 10px;
  cursor: pointer;

}
ul li:hover {
  background-color: orangered;
  /* highlights the item with the dark orange */
}

input {

}